Reverse.csproj
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/Reverse
bin/Debug/netcoreapp3.1/Reverse.deps.json
bin/Debug/netcoreapp3.1/Reverse.dll
bin/Debug/netcoreapp3.1/Reverse.pdb
bin/Debug/netcoreapp3.1/Reverse.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Reverse.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/Reverse.csproj.nuget.dgspec.json
obj/Reverse.csproj.nuget.g.props
obj/Reverse.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Reverse
obj/Debug/netcoreapp3.1/Reverse.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Reverse.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Reverse.assets.cache
obj/Debug/netcoreapp3.1/Reverse.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Reverse.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Reverse.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Reverse.dll
obj/Debug/netcoreapp3.1/Reverse.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Reverse.pdb
